.header {
  background-color: #1B2944;
  padding: 40px 168px 0 168px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.header__logo-image {
  width: 100px;
  height: auto;
}

.social-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.social-icon {
  width: 20px;
  height: auto;
}

.social-link {
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: start;
  background-color: #1B2944;
  padding: 83px 168px 88px 168px;
  gap: 60px;
}

.about__info {
  display: flex;
  flex-direction: column;
}

.about__info-subtitle {
  color: #FFBB01;
  font-size: 24px;
  font-weight: 400;
}

.about__info-title {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 700;
  margin-top: 12px;
}

.about__info-description {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 28px;
  margin-top: 24px;

}

.about__info-button {
  background-color: #FFBB01;
  color: #1B2944;
  text-transform: uppercase;
  width: 300px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0px 5px 0px rgb(230, 169, 2);
  border-radius: 6px;
  border: none;
  padding: 25px 32px;
  margin-top: 36px;
  cursor: pointer;
}

.about__avatar {
  width: 384px;
  height: 384px;
  justify-self: end;
}

.advantages {
  background-color: #141F35;
  padding: 88px 168px 95px 168px;
}

.advantages__title {
  font-size: 36px;
  font-weight: 700;
  color: #FFFFFF;
}

.advantages__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 49px 16px;
  padding-top: 48px;
  justify-content: start;
}

.advantages__card {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
}

.advantages__card-icon {
  width: 52px;
  height: 52px;
}

.advantages__card-icon--right {
  margin-left: 5px;
}

.advantages__card-title {
  font-size: 24px;
  font-weight: 700;
  padding-top: 11px;
}

.advantages__card-description {
  white-space: pre-line;
  margin-top: 15px;
}

.projects {
  background-color: #1B2944;
  color: #FFFFFF;
  padding: 88px 168px;
}

.projects__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 48px;
}

.projects__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}


.projects__card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  padding: 0 100px 33px 33px;
  min-height: 304px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 6px;

}

.projects__card-subtitle {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  line-height: 28px;
}


.projects__button {
  background-color: #EC1F46;
  color: #FFFFFF;
  width: 120px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0px 2px 0px rgb(206, 28, 62);
  border-radius: 6px;
  border: none;
  padding: 11px 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0 0;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 34%, rgb(33, 62, 96) 99.8%);
  height: 100%;
  width: 100%;
  z-index: 0;
  border-radius: 6px;
}

.projects__card--corner {
  background-image: url('../images/portfolio1.png');
}

.projects__card--golf {
  background-image: url('../images/portfolio2.png');
}

.projects__card--waterfall {
  background-image: url('../images/portfolio3.png');
}

.gallery {
  background-color: #141F35;
  padding: 88px 168px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.gallery__image {
  width: 224px;
  height: 224px;
  border-radius: 6px;
  object-fit: cover;
  display: block;
}

.gallery__video {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  width: 224px;
  height: 224px;
  position: relative;
  overflow: hidden;
}


.gallery__play-icon {
  position: absolute;
  top: 9px;
  right: 7px;
  width: 15px;
  z-index: 1;
}


.gallery__video--laptop {
  background-image: url(../images/gallery06.png);
}

.gallery__video--bridge {
  background-image: url(../images/gallery11.png);
}

.gallery__duration {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 9px;
  right: 29px;
  z-index: 1;
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 30%);
  z-index: 0;
}

.footer {
  background-color: #1B2944;
  color: #FFFFFF;
  padding: 88px 168px;
}

.footer__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 45px;
}

.footer__contacts {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 96px;
}

.footer__contacts-form {
  grid-row: 1/3;
  grid-template-columns: 1;
  height: auto;
  align-self: start;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 464px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 40px 32px 42px 32px;
  box-shadow: -5px 5px 0px 0px #FFC41D;
}

.footer__contacts-info {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  align-self: start;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  gap: 38px 92px;
}

.footer__form-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 27px;
  margin-bottom: 16px;
}

.footer__form-input {
  width: 100%;
  padding: 28px 35px 25px 62px;
  color: #949494;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #F8F8F8;
  box-shadow: 0px 3px 10px 0px #C7C7C740 inset;
}

.footer__form-button {
  background-color: #FFBB01;
  color: #1B2944;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0px 5px 0px rgb(230, 169, 2);
  border-radius: 6px;
  border: none;
  padding: 16px 32px;
  margin-top: 16px;
  height: 66px;
  cursor: pointer;
}

.footer__form-input--icon-name {
  background-image: url('../images/user-icon.svg');
  background-position: 30px center;
  background-repeat: no-repeat;
}

.footer__form-input--icon-phone {
  background-image: url('../images/phone-icon.svg');
  background-repeat: no-repeat;
  background-position: 30px center;
}

.footer__contacts-item-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.footer__contacts-link {
  text-decoration: none;
  cursor: pointer;
}

.footer__privacy-policy {
  grid-row: 2;
  grid-column: 2;
  align-self: end;
  color: #949494;
  font-size: 15px;
  cursor: pointer;
}